---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <div class="post-featured-image">
      <img src={image} alt="Featured image of the post" />
    </div>
  )
}

<style>
  .post-featured-image {
    padding: 0;
    margin-bottom: 0.5em;
  }
  .post-featured-image img {
    display: block;
    max-width: 100%;
    max-height: auto;
  }
  @media (max-width: 550px) {
    .post-featured-image {
      padding: 0;
      margin-right: calc(50% - 50vw);
      margin-left: calc(50% - 50vw);
    }
    
  }
</style>
