---
import { Post } from '../lib/interfaces.ts'
import { getDateStr } from '../lib/blog-helpers.ts'
import { Icon } from 'astro-icon/components'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="post-date">
  <Icon name="mdi:access-time" width="22" height="22" />
  {post.Date ? <span>{getDateStr(post.Date)}</span> : ''}
</div>

<style>
  .post-date {
    padding: 0 0.75rem 0 0;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
  }
  .post-date svg {
    margin-right: 0.25rem;
  }
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
</style>
