---
import { Icon } from 'astro-icon/components';
---

<button class="search-button open-search-modal" type="button"><Icon name="mdi:search" width="22" height="22" /><span>Search</span></button>

<style>
  .search-button {
    display: inline-flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    border: 1px solid #dfdfdf;
    margin-bottom: 0.5rem;
    border-radius: 30px;
    padding: 0.6rem 0.6rem;
    color: #333;
    font-size: 0.9rem;
    font-weight: bold;
    align-items: center;
    transition: .2s;
  }
  .search-button:hover {
    cursor: pointer;
    background-color: #ddd;
  }
  .search-button svg {
    margin: 0 0.2rem;
  }
  [astro-icon="octicon:search-24"] {
    color: #333;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    function handleKeydown(event) {
      if (event.keyCode === 75 && event.metaKey) {
        // Ctrl+K or Cmd+K
        document.querySelector('.open-search-modal').click()
      }
    }

    document.addEventListener('keydown', handleKeydown)
  })
</script>
