<div class="sidebar-self-ads">
  <a href="https://fisea.me/" target="_blank">
    <img src="/fisea_banner_sq.webp" alt="fisea | ファイシー" />
  </a>
</div>

<style>
  .sidebar-self-ads {
    border: 1px solid #dfdfdf;
    border-radius: 35px;
    margin: 1em 0;
  }
  .sidebar-self-ads img {
    width: 100%;
    height: auto;
    border-radius: 35px;
    vertical-align: bottom;
  }
</style>